:root {
    --primary-blue: #007bff;
    --dark-bg: #1e1e2d;
    --container-bg: #2c2c3c;
    --text-light: #ffffff;
    --text-muted: #cccccc;
    --notice-bg: #dceeff;
    --notice-text: #1e1e2d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--dark-bg);
    margin: 0;
    padding: 0;
    color: var(--text-light);
    display: flex;
    flex-direction: column;      /* empilha container + footer */
    justify-content: center;     /* centraliza verticalmente */
    align-items: center;         /* centraliza horizontalmente */
    min-height: 100vh;
}

.container {
    width: 360px;
    background: var(--container-bg);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    padding: 24px 20px;
    margin-bottom: 10px; /* espaço para o footer */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.logos {
    display: flex;
    gap: 16px;
}

.logo img {
    width: 70px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.header h1 {
    color: var(--text-light);
    margin: 0;
    font-size: 30px;
    text-align: center;
    flex-grow: 1;
    margin-left: 50px;
    margin-right: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    display: block;
    margin-bottom: 4px;
    color: var(--text-muted);
    font-size: 13px;
}

.input-container {
    position: relative;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 40px 12px 10px;
    border: 1px solid #808080ce;
    background: #1e1e2d;
    border-radius: 6px;
    color: var(--text-light);
    font-size: 14px;
    box-sizing: border-box;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--text-muted);
}

button {
    margin-top: 8px;
    background: var(--primary-blue);
    border: none;
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

#mensagem-usuario {
    margin-top: 12px;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    display: none;
    text-align: center;
    word-wrap: break-word;
}

#mensagem-usuario.sucesso {
    background-color: #28a745;
    color: white;
}

#mensagem-usuario.erro {
    background-color: #dc3545;
    color: white;
}

#loading {
    display: none;
    margin-top: 12px;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-blue);
    text-align: center;
}

/* === Footer "powered" === */
.powered-footer {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 10px;  /* separa do card */
}
