<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MAC & Série - Patrimônio</title>
  <link rel="icon" type="/image/png" href="/static/media/NGS_LOGO.png">
  <link rel="stylesheet" href="/static/css/choose.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/static/media/logobbg.png" alt="Logo esquerda" class="logo-small">
      <h1>Escolha o Módulo</h1>
      <img src="/static/media/NGS.png" alt="Logo direita" class="logo-small">
    </div>

    <button class="choice-btn" onclick="window.location.href='/home'">Novos equipamentos</button>
    <button class="choice-btn" onclick="window.location.href='/outra-rota'">Equipamentos RMA</button>
  </div>

  <footer class="powered-footer">
    Powered by ® Sistemas BBG Telecom
  </footer>
</body>
</html>
